<div>
  <style>
    #landing_hero {
      padding: calc(var(--ui-spacing-10xl) * 2) var(--ui-spacing-7xl);
      text-align: center;
    }

    #landing_hero .content {
        max-width: 680px;
        margin: auto;
    }
  </style>
  <section id="landing_hero" class="ui-relative">
    <div class="bg">
      <img binding-imgpath="" src="/assets/theinnerbanner.png" alt="" />
    </div>

    <div class="content ui-col-align-center ui-gap-xl">
      <div class="ui-flex-row ui-gap-xl">
        <img src="/assets/MH Logo 1.png" alt="" />
        <img src="/assets/TCB Logo 1.png" alt="" />
      </div>

      <p
        class="text-subTitle"
        binding-name="Chào mừng đến với chương trình "
        style="color: var(--Brown, #85735a);"
      >
        Chào mừng đến với chương trình
      </p>

      <img
        src="/assets/theinnerbannertext.png"
        style="max-width: 550px; opacity: 90%; margin-top: var(--ui-spacing-2xl);"
        class="ui-w-full"
        alt=""
      />
      <p
        style="color: var(--DarkBrown, #836954)"
        binding-name="Một thế giới đặc quyền được tuyển chọn quanh sức khỏe, hành trình, ẩm thực và nghỉ dưỡng - để mỗi lựa chọn không chỉ nâng tầm trải nghiệm, mà còn nuôi dưỡng một cuộc sống trọn vẹn hơn."
      >
        Một thế giới đặc quyền được tuyển chọn quanh sức khỏe, hành trình, ẩm
        thực và nghỉ dưỡng - để mỗi lựa chọn không chỉ nâng tầm trải nghiệm, mà
        còn nuôi dưỡng một cuộc sống trọn vẹn hơn.
      </p>

      <div class="ui-center ui-mobile-flexColumn ui-gap-xl">
        <a class="button-type-2" href="" binding-btnhref="">
          <span binding-btntext="Khám phá đặc quyền">Khám phá đặc quyền</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.414 10.586L13.121 6.293L11.707 7.707L15 11H5V13H15L11.707 16.293L13.121 17.707L17.414 13.414C17.7889 13.0389 17.9996 12.5303 17.9996 12C17.9996 11.4697 17.7889 10.9611 17.414 10.586Z"
              fill="white"
            />
          </svg>
        </a>

        <a class="button-type-4" href="" binding-btnhref="">
          <span binding-btntext="Chọn trải nghiệm của bạn"
            >Chọn trải nghiệm của bạn</span
          >
        </a>
      </div>
    </div>
  </section>
</div>
