<div>
  <style>
    #landing_1 .ui-mobile-flexColumn {
      gap: var(--ui-spacing-2xl);
    }

    #landing_1 .ui-mobile-flexColumn img {
      width: 100%;
    }

    #landing_1 > p {
      color: var(--Stroke, #a5846f);
      font-weight: 300;
      font-style: italic;
      max-width: var(--breakpoint-lg);
      align-self: flex-end;
      text-align: right;
    }
  </style>

  <section id="landing_1" class="ui-col-justify-end content-p-type-1">
    <div class="ui-col2-grid ui-mobile-flexColumn">
      <div class="ui-col-justify-center ui-gap-2xl">
        <h1 binding-name="Từ bên trong, mở ra những trải nghiệm khác biệt...">
          Từ bên trong, mở ra những trải nghiệm khác biệt...
        </h1>
        <p
          binding-subdescription="Có những giá trị không được đo bằng điều ta sở hữu, mà bằng cách ta
          sống, cảm nhận và dành thời gian cho những người quan trọng. The Inner
          kết nối Quý khách với những trải nghiệm được tuyển chọn kỹ lưỡng và
          chăm chút theo nhu cầu riêng - từ hành trình chăm sóc sức khỏe chủ
          động, dịch vụ hàng không liền mạch, những bàn tiệc giàu cảm hứng đến
          kỳ nghỉ đáng nhớ tại các điểm đến danh tiếng."
        >
          Có những giá trị không được đo bằng điều ta sở hữu, mà bằng cách ta
          sống, cảm nhận và dành thời gian cho những người quan trọng. The Inner
          kết nối Quý khách với những trải nghiệm được tuyển chọn kỹ lưỡng và
          chăm chút theo nhu cầu riêng - từ hành trình chăm sóc sức khỏe chủ
          động, dịch vụ hàng không liền mạch, những bàn tiệc giàu cảm hứng đến
          kỳ nghỉ đáng nhớ tại các điểm đến danh tiếng.
        </p>
      </div>

      <img binding-imgpath="https://static.izzi.asia/images/2026/9/18/2609185627_landingbanner2.jpg" src="https://static.izzi.asia/images/2026/9/18/2609185627_landingbanner2.jpg" alt="" />
    </div>

    <p
      class="text-title"
      binding-subdescription="Mỗi đặc quyền là một lời mời sống sâu hơn, tận hưởng tinh tế hơn và dành nhiều hơn cho điều thực sự có ý nghĩa."
    >
      Mỗi đặc quyền là một lời mời sống sâu hơn, tận hưởng tinh tế hơn và dành
      nhiều hơn cho điều thực sự có ý nghĩa.
    </p>
  </section>
</div>
